@page
@model FMS.Pages.Booking.CheckBookingModel
@{
    ViewData["Title"] = "Check Booking";
}

<div class="container">
    <h2 class="text-center label">Booking Information</h2>
    <hr />

    @if (Model.BookingList.Count > 0)
    {
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Flight ID</th>
                    <th>Airline Name</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Ticket Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var booking in Model.BookingList)
                {
                    <tr>
                        <td>@booking.flightID</td>
                        <td>@booking.airlineId</td>
                        <td>@booking.origin</td>
                        <td>@booking.destination</td>
                         <td>@booking.departureTime</td>
                        <td>@booking.arrivalTime</td>
                        <td>@booking.ticketPrice</td>
                        <td>
                            <a class="btn btn-danger" href="/Booking/DeleteBooking?flightId=@booking.flightID">Cancel</a>
                        </td>
                        @* <td>
                            <form method="post" asp-page-handler="CancelBooking" asp-route-flightID="@booking.flightID">
                                <button type="submit" class="btn btn-danger">Cancel Booking</button>
                            </form>
                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No bookings found.</p>
    }
</div>
