@page
@model FMS.Pages.Airline.EditAirlineModel
@{
}
<div class="container">
    @if (@Model.message.Length > 1)
    {
        <div class="alert alert-info">
            <span>@Model.message</span>
        </div>
    }

    <h3 class="text-center label">Edit Airline</h3>
    <hr />

    <form method="POST" class="mt-4" asp-page-handler="OnPost">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group col">
                <label for="id">Airline Id</label>
                <input type="text" class="form-control mt-2" name="id" placeholder="Airline Id" value="@Model.airline.id">
            </div>
            <div class="form-group col">
                <label for="fullname">Airline Name</label>
                <input type="text" class="form-control mt-2" name="name" placeholder="Airline Name" value="@Model.airline.name">
            </div>
            <div class="form-group col">
                <label for="fullname">Contact</label>
                <input type="text" class="form-control mt-2" name="contact" placeholder="Contact" value="@Model.airline.contact">
            </div>            
        </div>

        <div class="row">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-warning mt-4">Update</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary mt-4" href="/" role="button">Cancel</a>
            </div>
        </div>
    </form>
</div>
